* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  cursor: default;
}

:root {
  --main-bg-color: #FCA311;
  --main-text-color: #14213D;
  --second-bg-color: #e5e5e5;
  --second-text-color: #e5e5e5;
}

body {
  background-color: var(--main-bg-color);
}

.app {
  width: 720px;
  height: 500px;
  margin: 0 auto;
  margin-top: 10%;
}

.hidden {
  visibility: hidden;
}

.logo {
  position: absolute;
  bottom: 20px;
  right: 30px;
}

/* ========== HEADER ========== */

.header {
  color: var(--second-text-color);
  width: 400px;
  margin: 0 auto;
}

.header__day {
  text-align: center;
  font-size: 58px;
  font-weight: 500;
}

.header__date {
  text-align: end;
  font-size: 20px;
}

/* ========== /HEADER ========== */



/* ========== WATHER MENU ========== */

.weather-menu {
  display: flex;
  justify-content: space-between;
}

/* ========== /WATHER MENU ========== */



/* ========== WATHER BLOCK ========== */

.weather-block {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  padding-top: 17px;
  padding-bottom: 35px;
  background-color: var(--second-bg-color);
  color: var(--main-text-color);
}

.weather-block__weather {
  font-size: 38px;
  text-align: center;
  margin-bottom: 10px;
}

.weather-block__weather::first-letter {
  text-transform:capitalize;
}

.weather-block__img {
  width: 128px;
  height: 128px;
  display: block;
  margin: 0 auto;
}

.weather-block__place {
  font-size: 58px;
  text-align: center;
  margin: 20px 0;
}

.weather-block__temperature {
  font-size: 50px;
  text-align: center;
}

/* ========== /WATHER BLOCK ========== */



/* ========== NEXT WATHER BLOCK ========== */

.next-weather-block {
  width: 100px;
  height: 400px;
  background-color: var(--second-bg-color);
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.next-weather-block__arrow {
  width: 40px;
  height: 40px;
  opacity: 0.6;
}

.next-weather-block__arrow__left {
  rotate: 180deg;
}

/* ========== /NEXT WATHER BLOCK ========== */